html body {
    margin: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
            "navbar"
            "middlebar"
            "footer";
    background-color: whitesmoke;

}
